* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    flex-wrap: wrap;
    color: white;
    background-color: black;
}

li a {
    text-decoration: none;
    padding: 4px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 4px;
    font-size: 1.2em;
}

.nav-links a {
    color: white;
    text-decoration: none;   
}

.nav-links a:hover {
    color: rgb(187, 0, 0);
}

img {
    width: 100%;
    object-fit: cover;
}

.hero-container {
    display: flex;
    justify-content: center;
    background-color: #f7eee4;
}

.hero {
    width: 400px;
    box-shadow: 0 4px 8px rgb(81, 81, 81);
    background-color: rgb(234, 234, 234);
    margin: 30px;
}

.hero img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.projects-title {
    background-color: #f7eee4; 
    display: flex;
    justify-content: center;
}

.projects-title h3 {
    width: 600px;
    background-color: rgb(234, 234, 234);
    box-shadow: 0 4px 8px rgb(81, 81, 81);
    margin: 30px;
}

p {
    padding: 0 10px 10px 10px;
}

.projects-grid {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    background-color: #f7eee4;   
}

.project {
    width: 300px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgb(81, 81, 81);
    background-color: rgb(234, 234, 234);
    margin: 30px;
}

.project img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

h3 {
    text-align: center;
    color: rgb(187, 0, 0);
    padding: 6px;
    font-size: 2em;
}


.footer {
    display: flex;
    justify-content: center;
    gap:40px;
    padding: 20px;
    background-color: black;
    color: white;
    font-size: 1.3em;
}

.footer p {
    padding: 0;
}


