* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    flex-wrap: wrap;
    color: white;
    background-color: black;
}


li a {
    text-decoration: none;
    padding: 4px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 4px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    
}

img {
    width: 100%;
    object-fit: cover;
}


.hero-container {
    display: flex;
    justify-content: center;
}

.hero {
    width: 300px;
    padding: 20px 0;
}

.hero img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

p{
    padding: 10px;
}

.projects-grid {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    padding: 20px 0;
}

.project {
    width: 300px;
    overflow: hidden;
}

.project img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

h3 {
    text-align: center;
}


.footer {
    display: flex;
    justify-content: center;
    gap:40px;
    padding: 20px;
    background-color: black;
    color: white;
}


